{% load static %}
{%load crispy_forms_tags%}

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SB Admin - Dashboard</title>

  <!-- Custom fonts for this template-->
  <link href="{% static 'accounts/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Page level plugin CSS-->
  <link href="{% static 'accounts/vendor/datatables/dataTables.bootstrap4.css' %}" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{% static 'accounts/css/sb-admin.css' %}" rel="stylesheet">

</head>

<body id="page-top">

  <nav class="navbar navbar-expand navbar-dark bg-dark static-top">

    <a class="navbar-brand mr-1" href="{% url 'profile'%}"><img src ="{% static 'accounts/pictures/logo.png' %}" width=100px height=50px ></a>

    <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
      <i class="fas fa-bars"></i>
    </button>

    <!-- Navbar Search -->
    <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="btn btn-primary" type="button">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
    </form>

    <!-- Navbar -->
    <ul class="navbar-nav ml-auto ml-md-0">
      <li class="nav-item dropdown no-arrow mx-1">
        <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-bell fa-fw"></i>
          <span class="badge badge-danger">9+</span>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="alertsDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item dropdown no-arrow mx-1">
        <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-envelope fa-fw"></i>
          <span class="badge badge-danger">7</span>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="messagesDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item dropdown no-arrow">
        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user-circle fa-fw"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
          <a class="dropdown-item" href="#">{{auth.login}} ({{auth.typecompte}})</a>
          <a class="dropdown-item" href="#">Settings</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">Logout</a>
        </div>
      </li>
    </ul>

  </nav>

  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="sidebar navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'profile'%}">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-fw fa-folder"></i>
          <span>manage</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="pagesDropdown">
          <h6 class="dropdown-header">manage</h6>
          <a class="dropdown-item" href="login.html">services and departements</a>
         
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="charts.html">
          <i class="fas fa-fw fa-chart-area"></i>
          <span>Charts</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="tables.html">
          <i class="fas fa-fw fa-table"></i>
          <span>Tables</span></a>
      </li>
    </ul>

    <div id="content-wrapper">

      <div class="container-fluid">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="#">Dashboard</a>
          </li>
          <li class="breadcrumb-item active">Overview</li>
        </ol>

        <!-- Icon Cards-->
        <div class="row">
          <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-primary o-hidden h-100">
              <div class="card-body">
                <div class="card-body-icon">
                  <i class="fas fa-fw fa-comments"></i>
                </div>
                <div class="mr-5">26 New Messages!</div>
              </div>
              <a class="card-footer text-white clearfix small z-1" href="#">
                <span class="float-left">View Details</span>
                <span class="float-right">
                  <i class="fas fa-angle-right"></i>
                </span>
              </a>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-warning o-hidden h-100">
              <div class="card-body">
                <div class="card-body-icon">
                  <i class="fas fa-fw fa-list"></i>
                </div>
                <div class="mr-5">11 New Tasks!</div>
              </div>
              <a class="card-footer text-white clearfix small z-1" href="#">
                <span class="float-left">View Details</span>
                <span class="float-right">
                  <i class="fas fa-angle-right"></i>
                </span>
              </a>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-success o-hidden h-100">
              <div class="card-body">
                <div class="card-body-icon">
                  <i class="fas fa-fw fa-shopping-cart"></i>
                </div>
                <div class="mr-5">123 New Orders!</div>
              </div>
              <a class="card-footer text-white clearfix small z-1" href="#">
                <span class="float-left">View Details</span>
                <span class="float-right">
                  <i class="fas fa-angle-right"></i>
                </span>
              </a>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-danger o-hidden h-100">
              <div class="card-body">
                <div class="card-body-icon">
                  <i class="fas fa-fw fa-life-ring"></i>
                </div>
                <div class="mr-5">13 New Tickets!</div>
              </div>
              <a class="card-footer text-white clearfix small z-1" href="#">
                <span class="float-left">View Details</span>
                <span class="float-right">
                  <i class="fas fa-angle-right"></i>
                </span>
              </a>
            </div>
          </div>
        </div>

      

        <!-- DataTables Example -->
        <div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-table"></i>
            Employee Data Table </div>
          <div class="card-body">

            <div class="table-responsive">
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">create new</button>
              <table   class="table table-bordered" id="dataTable"  class="striped highlight" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Position</th>
                    <th>Office</th>
                    <th>Age</th>
                    <th>Start date</th>
                    <th>Salary</th>
                    <th>Edit</th>
                    <th>Delete</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th>Name</th>
                    <th>Position</th>
                    <th>Office</th>
                    <th>Age</th>
                    <th>Start date</th>
                    <th>Salary</th>
                    <th>Edit</th>
                    <th>Delete</th>
                  </tr>
                </tfoot>
                <tbody  >
                {% for emp in employes %}
                  <tr>
                    <td>{{emp.matricule}}</td>
                    <td>{{emp.cin}}</td>
                    <td>{{emp.email}}</td>
                    <td>{{emp.nom}}</td>
                    <td>{{emp.prenom}}</td>
                    <td>{{emp.cin}}</td>
                    <td><p  data-placement="top" data-toggle="tooltip" class="update" id ="{{emp.id}}" title="Edit"><button     class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" ><i  class="fas fa-pen"></i></button></p></td>
                    <td><p data-placement="top" data-toggle="tooltip" title="Delete"  class="delete" id ="{{emp.id}}"><button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete" ><i class="fas fa-trash-alt"></i></button></p></td>
						</tr>
                  {% endfor %}
                 
                </tbody>
              </table>
            </div>
          </div>
          <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
        </div>

      </div>

      <!--modal hidden -->

    <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
      <div class="modal-dialog modal-lg">
    <div class="modal-content">
          <div class="modal-header">
          <h4 class="modal-title custom_align" id="Heading">Edit  Details</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        
      </div>
          <div class="modal-body">
          <div class="container">
          <div class ="row">
          <div class ="col">
          <form method ='POST' id ="editemp">
          {% csrf_token %}
          <div class="form-group">
          
          <label> Registration code
        <input class="form-control " id="matriculeEdit" name="matriculeEdit" type="text" placeholder="">
        </label>
        </div>
        <div class="form-group">
        <label> CIN
        <input class="form-control " id="cinEdit" name="cinEdit" type="text" placeholder="">
        <label>
        </div>
        <div class="form-group">
        <label>First name
         <input class="form-control " id="firstnameEdit" name="firstnameEdit" type="text" placeholder="">
         </label>
        </div>
        <div class="form-group">
        <label>Last name
         <input class="form-control "  id="lastnameEdit" name="lastnameEdit" type="text" placeholder="">
         </label>
        </div>
        <div class="form-group">
        <label>Adresse
         <input class="form-control " id="adresseEdit" name="adresseEdit"  type="text" placeholder="">
         </label>
        </div>
        <div class="form-group">
        <label>Telephone
         <input class="form-control " type="tel"   id="telephEdit" name="telephEdit" placeholder="">
         </label>
        </div>
        </div>
        <div class="col">
           <div class="form-group">
           <label>Email
        <input class="form-control " type="email"  id="emailEdit" name="emailEdit" placeholder="">
        </label>
        </div>
        <div class="form-group">
        <label>Birth date
        <input class="form-control " type="date" id="birthdateEdit" name="birthdateEdit" placeholder="YYYY/MM/DD">
        </label>
        </div>
        <div class="form-group">
        <label> start date
         <input class="form-control " type="date" id="startdateEdit" name="startdateEdit" placeholder="YYYY/MM/DD">
         </label>
        </div>

        <div class="form-group">
          <label> salaire
              <input class="form-control " type="number" id="salaireEdit" name="salaireEdit"    placeholder="">
          </label>
        </div>

        <div class="form-group">
                <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="positionEdit">Position</label>
          </div>
          <select class="custom-select" id="positionEdit" name="positionEdit">
            <option selected>Choose...</option>
            {% for f in fonctions %}
            <option value="{{f.id}}">{{f.nomFonction}}</option>
            {% endfor %}
          </select>
      </div>


        </div>
        <div class="form-group">
                  <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="serviceEdit">Service</label>
            </div>
            <select class="custom-select" id="serviceEdit" name="serviceEdit">
              <option selected>Choose...</option>
             {% for s in services %}
                 <option value="{{s.id}}">{{s.nomService}}</option>
              {% endfor %}
            </select>
        </div>

        <div class="form-group">
                  <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="departEdit">Departements</label>
            </div>
            <select class="custom-select" id="departEdit" name="departEdit">
              <option selected>Choose...</option>
              {% for d in depart %}
                 <option value="{{d.id}}">{{d.nomDepart}}</option>
              {% endfor %}
            </select>
        </div>

        </div>
        </div>
        </div>
        </div> 
      </div>
          <div class="modal-footer ">
          <input type="hidden" name="emp_id" id="emp_id"  />
        <button type="submit" class="btn btn-warning btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Update</button>
      </div>
      </form>
        </div>
    <!-- /.modal-content --> 
  </div>
      <!-- /.modal-dialog --> 
    </div>
    
   
    
    
      <!-- /.container-fluid -->

      <!-- Sticky Footer -->
     

    
    <!-- /.content-wrapper -->

  </div>
  <!-- /#wrapper -->
 <footer class="sticky-footer">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright © Your Website 2019</span>
          </div>
        </div>
  </footer>

    <!-- modal delete dialog-->

    <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="delete" aria-hidden="true">
      <div class="modal-dialog">
    <div class="modal-content">
          <div class="modal-header">
           <h4 class="modal-title custom_align" id="Heading">Delete this entry</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
       
      </div>
          <div class="modal-body">
       
       <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span> Are you sure you want to delete this Record?</div>
       
      </div>
        <div class="modal-footer ">
        <button type="button" class="btn btn-success" ><span class="glyphicon glyphicon-ok-sign"></span> Yes</button>
        <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> No</button>
      </div>
        </div>
    <!-- /.modal-content --> 
  </div>
      <!-- /.modal-dialog --> 
    </div>


  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>



<!--modal for adding new employee -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method = 'POST' id="newEmployee">
              {% csrf_token %}
          <div class="modal-body">
          <div class="container">
          <div class ="row">
          <div class ="col">
 
          <div class="form-group">
          <label> Registration code
        <input class="form-control " type="text" name="matricule" id="matricule" placeholder="Tiger Nixon">
        </label>
        </div>
        <div class="form-group">
        <label> CIN
        <input class="form-control " type="text"  name="cin" id="cin" placeholder="System Architect">
        <label>
        </div>
        <div class="form-group">
        <label>First name
         <input class="form-control " type="text" name="firstname" id="firstname" placeholder="Edinburgh">
         </label>
        </div>
        <div class="form-group">
        <label>Last name
         <input class="form-control " type="text"  name="lastname" id="lastname" placeholder="Edinburgh">
         </label>
        </div>
        <div class="form-group">
        <label>Adresse
         <input class="form-control " type="text" name="adresse" id="adresse" placeholder="Edinburgh">
         </label>
        </div>
        <div class="form-group">
        <label>Telephone
         <input class="form-control " type="number" name="teleph" id="teleph" placeholder="Edinburgh">
         </label>
        </div>
        </div>
        <div class="col">
           <div class="form-group">
           <label>Email
        <input class="form-control " type="email" name="email" id="email" placeholder="Tiger Nixon">
        </label>
        </div>
        <div class="form-group">
        <label>Birth date
        <input class="form-control " type="date" name="birthdate" id="birthdate" placeholder="YYYY/MM/DD">
        </label>
        </div>
        <div class="form-group">
        <label> start date
         <input class="form-control " type="date" name="startdate" id="startdate"   placeholder="">
         </label>
        </div>

         <div class="form-group">
        <label> salaire
         <input class="form-control " type="number" name="salaire" id="salaire"   placeholder="">
         </label>
        </div>
        

        <div class="form-group">
                <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="position">Position</label>
          </div>
          <select class="custom-select" id="position" name="position">
            <option selected>Choose...</option>
            {% for f in fonctions %}
            <option value="{{f.id}}">{{f.nomFonction}}</option>
            {% endfor %}
          </select>
          </div>
      </div>


        <!--</div>-->
        <div class="form-group">
                  <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="service">Service</label>
            </div>
            <select class="custom-select" id="service" name="service">
              <option selected>Choose...</option>
              {% for s in services %}
                 <option value="{{s.id}}">{{s.nomService}}</option>
              {% endfor %}
            </select>
            </div>
        </div>

        <div class="form-group">
                  <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="depart">Departements</label>
            </div>
            <select class="custom-select" id="depart" name="depart">
              <option selected>Choose...</option>
              {% for d in depart %}
                 <option value="{{d.id}}">{{d.nomDepart}}</option>
              {% endfor %}
            </select>
            </div>
        </div>

        </div>
        </div>
        </div>
       <!-- </div>--> 
      </div>
          <div class="modal-footer ">
         <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
         
        <button type="submit" class="btn btn-primary">Save</button>
        </form>
      </div>
        </div>
    <!-- /.modal-content --> 
  </div>
      <!-- /.modal-dialog --> 
    </div>
    

  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'accounts/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'accounts/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static 'accounts/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Page level plugin JavaScript-->
  
  <script src="{% static 'accounts/vendor/datatables/jquery.dataTables.js' %}"></script>
  <script src="{% static 'accounts/vendor/datatables/dataTables.bootstrap4.js' %}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static 'accounts/js/sb-admin.min.js'%}"></script>

  <!-- Demo scripts for this page-->
  <script src="{% static 'accounts/js/demo/datatables-demo.js' %}"></script>
  <script src="{% static 'accounts/js/demo/chart-area-demo.js' %}"></script>
  <script type="text/javascript">
        


  
  
  


  $(document).on('submit','#newEmployee',function(e){
     e.preventDefault();

     $.ajax({
        type :'POST',
        url:"{% url 'createEmployee' %}",
        dataType:  'json',
        data :{
          matricule : $('#matricule').val(),
          cin : $('#cin').val(),
          firstname : $('#firstname').val(),
          lastname : $('#lastname').val(),
          adresse : $('#adresse').val(),
          teleph :$('#teleph').val(),
          email:$('#email').val(),
          birthdate: $('#birthdate').val(),
          startdate: $('#startdate').val(),
          salaire: $('#salaire').val(),
          position:$('#position').val(),
          service:$('#service').val(),
          depart:$('#depart').val(),

          csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
          
        },
        success:function(data){
          alert("object created");
        let row =  '';
        row = `
        <tr>
            <td>${data.emp.matricule}</td>
            <td>${data.emp.cin}</td>
            <td>${data.emp.email}</td>
            <td>${data.emp.nom}</td>
            <td>${data.emp.prenom}</td>
            <td>${data.emp.cin}</td>
            
            <td><p  data-placement="top" data-toggle="tooltip" title="Edit"><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" ><i  class="fas fa-pen"></i></button></p></td>
            <td><p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete" ><i class="fas fa-trash-alt"></i></button></p></td>
            
        </tr>`;
         $("tbody").append(row);
        }                 
     });          
  });

  $(document).on('click', '.update', function(){
  var empid = $(this).attr("id");
  $.ajax({
   url:"{% url 'fetch_single' %}",
   method:"POST",
   dataType:"json",
   data:{
     empid:empid,
     csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
   },
   
   success:function(data) {
     console.log(data);
     $('#matriculeEdit').val(data.emp.matricule),
     $('#cinEdit').val(data.emp.cin),
     $('#firstnameEdit').val(data.emp.nom),
     $('#lastnameEdit').val(data.emp.prenom),
     $('#adresseEdit').val(data.emp.adresse),
     $('#telephEdit').val(data.emp.telephone),
     $('#emailEdit').val(data.emp.email),
     $('#birthdateEdit').val(data.emp.dateNaiss),
     $('#startdateEdit').val(data.emp.dateRecrut),
     $('#salaireEdit').val(data.emp.salaireBase),
     $('#positionEdit').val(data.emp.Fonction),
     $('#serviceEdit').val(data.emp.Service),
     $('#departEdit').val(data.emp.Dept)
   }
  });
 });

   
  $(document).on('submit','#editemp',function(e){
     e.preventDefault();

     $.ajax({
        type :'POST',
        url:"{% url 'update' %}",
        dataType:  'json',
        data :{
          matricule : $('#matricule').val(),
          cin : $('#cin').val(),
          firstname : $('#firstname').val(),
          lastname : $('#lastname').val(),
          adresse : $('#adresse').val(),
          teleph :$('#teleph').val(),
          email:$('#email').val(),
          birthdate: $('#birthdate').val(),
          startdate: $('#startdate').val(),
          salaire: $('#salaire').val(),
          position:$('#position').val(),
          service:$('#service').val(),
          depart:$('#depart').val(),

          csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
          
        },
        success:function(data){
          alert("object created");
        let row =  '';
        row = `
        <tr>
            <td>${data.emp.matricule}</td>
            <td>${data.emp.cin}</td>
            <td>${data.emp.email}</td>
            <td>${data.emp.nom}</td>
            <td>${data.emp.prenom}</td>
            <td>${data.emp.cin}</td>
            
            <td><p  data-placement="top" data-toggle="tooltip" title="Edit"><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" ><i  class="fas fa-pen"></i></button></p></td>
            <td><p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete" ><i class="fas fa-trash-alt"></i></button></p></td>
            
        </tr>`;
         $("tbody").append(row);
        }                 
     });          
  });


 
  
  
  </script>

</body>

</html>
